@font-face {
    font-family: Orbitron;
    src: url(Orbitron-SemiBold.ttf);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

#info {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    font-family: "Orbitron";
    margin: 5px;
}

body,
html {
    height: max-content;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Orbitron";
}

.layout {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .button-64 span {
    height: 40%;
}

.headerhead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(144deg, #e6cbfa, #d9d4ff 50%, #cdfcff);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 25px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.header span {
    cursor: pointer;
    font-family: "Orbitron";
    font-size: 1.2em;
}

.header .button-64 {
    margin-top: 0;
    font-size: 14px; /* Zmniejsz rozmiar czcionki */
    min-width: 100px; /* Zmniejsz minimalną szerokość */
    padding: 4px; /* Zmniejsz padding */
}

.panel-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.panel-buttons .button-64 {
    margin-top: 15px;
    font-size: 12px; /* Zmniejsz rozmiar czcionki */
    min-width: 190px; /* Zmniejsz minimalną szerokość */
    max-width: 190px; /* Zmniejsz minimalną szerokość */
    padding: 3px; /* Zmniejsz padding */
    margin-right: 20px;
    margin-left: 20px;
}

.panel-buttons .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    margin-right: 0;
}

.history-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff; */
}

.history-list li {
    padding: 10px;
    border-bottom: 1px solid rgb(197, 8, 188);
    margin-left: 5px;
    margin-right: 5px;
}

.history-list li:last-child {
    border-bottom: none;
}

.history-list li > .result {
    font-weight: bold;
    text-transform: uppercase;
    color: #0dac62a4;
}

.history-list li > .vs {
    font-style: italic;
}

.history-list li > .enemy-email {
    color: #35a835;
}

.history-list li > .date {
    font-size: smaller;
}

.ranking-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff; */
}

.ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 8, 188);
    margin-left: 5px;
    margin-right: 5px;
}

.ranking-item:last-child {
    border-bottom: none;
}

.ranking-item > .place {
    font-style: italic;
    margin-right: 20px;
    width: 20px; /* Stała szerokość dla miejsca */
    text-align: center; /* Wyrównanie tekstu do prawej */
}

.ranking-item > .email {
    color: #920dacd0;
    flex-grow: 1; /* This will make the email span take the remaining space */
    margin-left: 10px; /* Adds space between place and email */
}

.ranking-item > .rank {
    font-size: large;
    font-weight: bold;
    text-align: right;
}


.slide-enter {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}

.slide-enter-active {
    height: auto;
}

.slide-exit {
    height: auto;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}

.slide-exit-active {
    height: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 50px auto;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    box-shadow: rgba(151, 65, 252, 0.2) 3px 3px 30px 10px;
    box-sizing: border-box;
    outline: 3px ridge rgba(170, 50, 220, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 25px;
    transition: transform 0.2s, background-color 0.2s;
}

/* Animacja przy najechaniu kursorem */
.cell:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

/* Animacja przy kliknięciu */
.cell:active {
    transform: scale(0.95);
    background-color: #d0d0d0;
}

.winner {
    text-decoration: line-through;
}

.strike {
    position: absolute;
    outline: 3px ridge rgba(4, 1, 5, 0.8);
    background-color: rgba(0, 255, 255, 0.7);
    box-shadow: rgba(65, 177, 252, 4) 0 1px 30px 5px;
    border-radius: 2px;
}

.strike-row {
    width: 110%;
    height: 6px;
    left: -5%;
}

.strike-row-1 {
    top: 15%;
}

.strike-row-2 {
    top: 49%;
}

.strike-row-3 {
    top: 83%;
}

.strike-column {
    height: 110%;
    width: 6px;
    top: -5%;
}

.strike-column-1 {
    left: 15%;
}

.strike-column-2 {
    left: 50%;
}

.strike-column-3 {
    left: 84%;
}

.strike-diagonal-1 {
    height: 10px;
    width: 100%;
    top: 48%;
    left: 0%;
    border-radius: 10px;
    outline-width: 4px;
    transform: skewY(45deg) skewX(-19deg);
}

.strike-diagonal-2 {
    height: 10px;
    width: 100%;
    top: 48%;
    left: 0%;
    border-radius: 10px;
    outline-width: 4px;
    transform: skewY(-45deg) skewX(19deg);
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: "Orbitron";
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 20px;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    margin-right: 0;
}

.button-64:hover span {
    background: none;
}

.button-64:disabled {
    background-image: linear-gradient(144deg, #cccccc, #999999 50%, #666666);
    cursor: not-allowed;
    box-shadow: none;
    color: #666666;
}

.button-64:disabled span {
    background-color: #333333;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

/* .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    height: 100%; /* Nowy styl: Ustawia kontener na pełną wysokość strony */
}

.game {
    margin-bottom: 20px; /* Nowy styl: Dodaje margines na dole planszy */
}

.restart-button-container {
    margin-top: 20px; /* Nowy styl: Dodaje margines na górze przycisku restartu */
}

.profile-image {
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
    border-radius: 50%;
    cursor: pointer;
}