.slide-enter {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.slide-enter-active {
    max-height: 500px; /* Adjust based on the expected height */
}

.slide-exit {
    max-height: 500px; /* Adjust based on the expected height */
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.slide-exit-active {
    max-height: 0;
}